---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.svelte';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Navbar from '../components/Navbar.svelte';
import Hero from '../components/Hero.svelte';
import Experience from '../components/Experience.svelte';
import Banner from '../components/Banner.svelte';
import '@fontsource/bodoni-moda';
import Projects from '../components/Projects.svelte';
import Upcoming from '../components/Upcoming.svelte';
---

<!DOCTYPE html>
<html lang="en" class="bg-background">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<main class="max-w-7xl mx-auto">
        <Banner client:load />
		<Navbar client:load/>
		<Hero client:load />
		<Experience client:load />
		<Projects client:load />
		<Upcoming />
	</main>
</html>
